fastapi
transformers
bitsandbytes
numpy
uvicorn
sentence_transformers
xformers
-i https://download.pytorch.org/whl/cu124 
torch
-i https://download.pytorch.org/whl/cu124 
torchvision
-i https://download.pytorch.org/whl/cu124 
torchaudio
